<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="card col-4">
          <div class="card-header">
            Download Test File
          </div>
          <div class="card-body">
            <p class="card-title">File name: tiktok song.mp3</p>
            <p class="card-text">File size: 5 mb</p>
            <a download="/download-test-file" href="/download-test-file" class="btn btn-primary">Download</a>
            <a href="/writeToHome" class="btn btn-primary">Write to home</a>
          </div>
        </div>
      </div>
    </div>

</body>

</html>